.all-scenarios-page {
  padding: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

.btn-1{
  margin: 10px;
    width: 100px;
    background: #BA5370;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #000;
}